html{
    font-family: source code pro;
}
body{
    background: url(arkaplan.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    /* background-color: #BDE9F1; */
}
header{
    text-align: left;
}
header a:hover{
    font-size: large;
    color: rgb(29, 156, 50);
    text-decoration:black underline;
}
header ul li a{
    color: black;
    text-decoration: none;
}
h1{
    font-weight: normal;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li{
    display:inline-block;
}
button:hover{
    background-color: bisque;
}
button:active{
    background-color: black;
    color: white;
}
footer{
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px;
}