html{
  font-family: source code pro;
  background-color: black;
  color: #FFFFFF;
}
body{
  margin:0;
  padding:0
}


.video-container{
  width: 100vw;
  height: 100vh;
}

.flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video{
  width: 100%;
  height: 100%;
}
iframe {
  width: 100vw;
  height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}
    
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}

#warn{
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

#myToughts{
  width:100vw;
      text-align: left;
}
h1{
    text-align: center;
}
.love{
  width:100%;
}

.line{
    
    margin:0 auto;
    border-right: 2px solid rgba(255,255,255,0,75);
    font-size:100%;
    width: 100%;
    margin:0 auto;
    text-align:center;
    white-space:nowrap;
    overflow:hidden;transform:translateY(-50%)
}

.anim-typewriter-0{
  animation:typewriter 4s steps(56) 3s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-1{
  animation:typewriter 4s steps(56) 7s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-2{
  animation:typewriter 4s steps(56) 11s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-3{
  animation:typewriter 4s steps(56) 15s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-4{
  animation:typewriter 4s steps(56) 19s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-5{
  animation:typewriter 4s steps(56) 23s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-6{ 
  animation:typewriter 4s steps(56) 27s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-7{
  animation:typewriter 4s steps(56) 31s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-8{
  animation:typewriter 4s steps(56) 35s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
.anim-typewriter-9{
  animation:typewriter 4s steps(56) 39s 1 normal both,
  blinkTextCursor 500ms steps(56) infinite normal;
}
@keyframes typewriter{
    from{
        width:0;
    }
    to{
        width:40em;
    }
}
@keyframes blinkTextCursor {
    from{
        border-right-color:rgba(255,255,255,0.75)
    }
    to{
        border-right-color:transparent;
    }
}